@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
}

header {
    background-color: #00446c;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

menu {
    display: none;
}

#mhamburger, menu > ul > li > a:hover {
    cursor: pointer;
    text-decoration: underline;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 1.2em;
}

main {
    background-color: white;
    height: 100vh;
    width: 100vw;
}

main > h2 {
    color: #00446c;
    width: 200px;
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-size: 2.5em;
}

main > p {
    color: #00446c;
    padding: 50px;
    margin: auto;
    text-align: center;
    font-size: 1em;
}

