@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(150, 150, 150);
}

header {
    background-color: #00446c;
    padding: 20px;
    display: flex;
}

header > img {
    width: 73px;
}

header > h1 {
    color: white;
    font-size: 3em;
}

header > menu > a {
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 7px;
}

header > menu > a:hover {
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    box-sizing: initial;
}

main {
    background-color: white;
    width: 100vw;
    height: 100vh;
    padding: 10px;
    text-align: center;
}

